<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <title>Title</title>
</head>
<body>
    <nav class="blue darken-1" role="navigation">
        <div class="nav-wrapper container">
            <div class="nav-wrapper  blue darken-1">
                <div class="col s12">
                    <a href="#!" class="breadcrumb">Luciuspig</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">

    </div>

    <div class="container">
        <div class="row">
            <div class="col s5 m4 l5"><p>s12 m4</p></div>
            <div class="input-field col s7 m4 l7">
                <input placeholder="用户名" id="first_name" type="text" class="validate">
                <input placeholder="密码" id="first_password" type="password" class="validate">
                <a class="waves-effect waves-light btn blue lighten-2">登录</a>
            </div>
        </div>
    </div>


    <footer class="page-footer blue darken-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">关于</h5>
                    <p class="grey-text text-lighten-4">你可以用行和列来组织你的页脚内容。</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">联系我们</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">链接 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">链接 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">链接 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">链接 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2018 Copyright Luciuspig
                <a class="grey-text text-lighten-4 right" href="#!">更多链接</a>
            </div>
        </div>
    </footer>


</body>
</html>